node_modules/
debug_parser.py
chapter_list.txt
batch_parser.py
raw_jsons/
master_catalog.json
scraper.py
jee_questions.json
serviceAccountKey.json
upload_to_supabase.js
neet_questions.json
get_chapter_list.py
comedk_master_ready.json
bitsat_master_ready.json
jee-advanced.json
mhtcet.json